/*.container {
  height: 100vh;
  margin: 0;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}
*/

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-bBorder {
  border-bottom: solid 1px;
}
/*
Main.css
*/

.m-container {
  margin: 50px;
}

.m-wrapper {
  border: none 1x;
}

.m-firstLine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.m-profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.m-avatarSpace {
  height: 5px;
}

.m-headerFont {
  font-size: 25px;
}

.m-spaceHeight {
  height: 25px;
}

.m-secondLine {
  justify-content: center;
  display: flex;
}

.m-space {
  width: 50px;
}

.m-menuFont {
  font-size: 40px;
  font-weight: bold;
  outline:none;
  text-decoration:none;
  color: black;
  font-family: Arial,Helvetica,sans-serif;
}

.m-menuFont:hover {
  color: gray;
}

.menu-bBorder {
  border-bottom: solid 1px;
}

/*
Projects.css
*/

.p-container {
  margin: 0;
  padding: 0;
}

.p-wrapper {
  display: flex;
  justify-content: center;
}

.p-projectContainer {
  display: flex;
  flex-direction: column;
}

.p-titleFont {
  font-size: 30px;
  font-weight: bold;
}

.p-projectAlign {
  display: flex;
  flex-direction: row;
}

.p-leftB {
  width: 525px;
  height: 345px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px grey;
}

.p-pImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.p-spaceMiddle {
  width: 25px;
  height: 0px;
}

.p-rightB {
  border: none 0.1px;
  width: 650px;
  height: auto;
}

.p-infoFont {
  font-size: 18px;
}

.spaceB {
  height: 10px;
}

.spaceBottom {
  height: 100px;
}

.p-infoBold {
  font-weight: bold;
}

.p-buttonPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p-button {
  border: 2px none;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.p-buttonColorL {
  color: white;
  background-color: darkblue;
}

.p-buttonColorL:hover {
  background-color: lightblue;
}

.p-spaceMiddle {
  width: 20px;
  height: 0;
}

.p-buttonColorC {
  color: white;
  background-color: green;
}

.p-buttonColorC:hover {
  background-color: lightgreen;
}


/*
About.css
*/
.a-container {
  margin: 0;
  padding: 0;
}

.a-wrapper {
  display: flex;
  justify-content: center;
}

.a-firstLine {
  display: flex;
  flex-direction: row;
}

.a-summaryBox {
  width: 600px;
  height: 200px;
}

.a-titleFont {
  font-size: 30px;
  font-weight: bold;
}

.a-design {
  border-bottom: solid 3px;
  max-width: auto;
  width: 100%;
  height: 0px;
}

.a-summary {
  text-align: center;
  font-size: 35px;
}

.a-centeringS {
  height: 50px;
}

.a-middleSpace {
  width: 100px;
  height: 0px;
}

.a-somethingMe {
  width: 500px;
  height: auto;
}

.a-myCarousel {
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px gray;
}

.a-extrasP {
  width: 500px;
  height: 301px;
  border-radius: 10px;
}

.a-spaceBottom {
  height: 50px;
  width: 0px;
}

.a-secondLine {
  display: flex;
  flex-direction: row;
}

.a-skills {
  width: 100%;
}

.a-skillsCol {
  display: flex;
  flex-direction: column;
}

.a-Bar {
  border: 2px solid green;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  background-color: green;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.a-js {
  width: 80%;
}

.a-Express {
  width: 80%;
}

.a-html {
  width: 78%;
}

.a-css {
  width: 78%;
}

.a-react {
  width: 75%;
}

.a-reactN {
  width: 60%;
}

.a-cpp {
  width: 35%;
}

.a-c {
  width: 25%;
}

.a-Python {
  width: 10%;
}

.a-skillsJobs {
  border: solid 2px;
  width: 50%;
}

.a-jobsCarousel {
  width: 100px;
  height: 100%;
}

.a-box {
  border: solid 0.1px;
  width: 100px;
  height: 100px;
}

/*
Contact.css
*/

.c-container {
  margin: 0;
  padding: 0;
}

.c-wrapper {

}

.c-innerContainer {
  display: flex;
  justify-content: center;
}

.c-socialContainer {
  display: flex;
  flex-direction: row;
}

.c-questionsBorder {
  height: 100%;
  width: 700px;
}

.c-titleFont {
  font-size: 30px;
  font-weight: bold;
}

.c-designLine {
  border-bottom: solid 3px;
  width: 100%;
  height: 0;
}

.c-topForm {
  display: flex;
  flex-direction: row;
}

.c-inputName {
  border: solid 2px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.c-inputQuestion {
  border: solid 2px;
  padding: 100px;
  height: 100%;
  border-radius: 5px;
  text-align: center;
}

.c-spaceMiddle {
  width: 50px;
}

.c-socialBorder {
  height: 100%;
  width: 500px;
}

.c-socialFont {
  font-size: 30px;
  font-weight: bold;
}

.c-linkCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.c-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.c-space {
  width: 20px;
}
