/*.container {
  height: 100vh;
  margin: 0;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}
*/

.g-f {
  font-family: 'Varela Round', sans-serif;
}
/*
Main.css
*/

.m-container {
  nargin: 0px;
  padding: 0px;
  background-color: #70c1b3;
}

.m-wrapper {
}

.m-firstLine {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.m-profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.m-avatarSpace {
  height: 5px;
}

.m-headerFont {
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
}

.m-spaceHeight {
  height: 25px;
}

.m-secondLine {
  justify-content: center;
  display: flex;
}

.m-menuFont {
  font-size: 20px;
  color: black;
  border: none;
  background-color: #70c1b3;
  transition: 0.5s;
}

.m-menuFont:hover {
  color: #e5f3f1;
}

.m-A {
  color: #e5f3f1;
}

.m-D {
  color: black;
}

.m-space {
  width: 50px;
}


.menu-bBorder {
  border-bottom: solid 1px;
}

.m-bottom {
  background-color: #70c1b3;
}


/*
Projects.css
*/

.p-container {
  margin: 0;
  padding: 0;
  background-color: #b2dbbf;
}

.p-wrapper {
}

.p-innerContainer {
  text-align: center;
}

.p-introFont {
  font-size: 30px;
}

.p-introStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.p-introSLine {
  font-size: 25px;
  border: none;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3ffbd;
  transition: 0.5s;
}

.p-introSLine:hover {
  background-color: white;
}

.p-projectContainer {
  display: flex;
  justify-content: center;
}

.p-projectWrapper {
  border-radius: 20px;
  background-color: #eaf5ed;
  width: 60%;
  height: auto;
}

.p-innerProjectContainer {

}

.p-topBImage {
  border: none;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #247ba0;
  display: flex;
  flex-direction: row;
}

.p-button {
  border: solid 8px;
  border-radius: 100%;
  width: 1px;
}

.p-colorR {
  border-color: #ff1654;
}

.p-colorB {
  border-color: #f3ffbd;
}

.p-colorG {
  border-color: #70c1b3;
}

.p-hContainer {
  position: relative;
  padding: 15px;
}

.p-buttonModal {
  border: none;
  background-color: inherit;
  transition: 0.3s ease;
}

.p-buttonModal:hover {
  filter: invert(10%);
}

.p-projectImage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.p-projectImage:hover {
  filter: invert(100%);
}

.p-changeProjectB {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p-changeButton {
  width: 200px;
  height: 60px;
  border: none;
  background-color: #f3ffbd;
}

.p-modal {
  
}


.p-linkRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.p-code {
  border: none;
  background-color: blue;
  padding: 20px;
  width: 200px;
  font-size: 24px;
  text-decoration: none;
  color: black
}


/*
.p-projectInnerContainer {
  background-color: #eaf5ed;
  border-radius: 20px;
  max-width: 1200px;
  width: 100%;
  height: auto;
}
*/
/*
About.css
70c1b3
*/
.a-container {
  margin: 0;
  padding: 0;
  background-color: #c4e8dc;
}

.a-wrapper {
  display: flex;
  justify-content: center;
}

.a-innerContainer {
  width: 75%;
}

.a-infoContainer {
  border: none;
}

.a-headerContainer {
  text-align: center;
}

.a-infoInnerContainer {
  display: flex;
  justify-content: center;
}

.a-infoInnerWrapper {
  border: none;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.a-profileLeft {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.a-profilePictureContainer {
  border: none;
  padding: 3px;
}

.a-profilePicture {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.a-profilePictureSpace {
}

.a-profileRight {
  border: none;
  padding: 3px;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.a-profileHeader {
  text-align: center;
}

.a-linkContainer {
  border: none;
  display: flex;
  justify-content: center;
}

.a-emailContainer {
  text-align: center;
  border: none;
  padding: 25px;
  background-color: #70c1b3;
  border-radius: 20px;
}

.a-emailHeader {
  font-size: 24px;
}

.m-linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-socialRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-linkFont {
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: inherit;
  transition: 0.3s;
}

.a-linkFont:hover {
  color: #e5f3f1;
}





/*
Contact.css
*/

.c-container {
  margin: 0;
  padding: 0;
  background-color: #8cdcb1;
}

.c-wrapper {
  height: 1000px;
}

.c-innerContainer {
  text-align: center;
}


.c-introOuterContainer {
  display: flex;
  justify-content: center;
}

.c-introContainer {
  width: 600px;
}

.c-headerFont {
  font-size: 28px;
  font-weight: bold;
}

.c-headerTFont {
  font-size: 24px;
}
